name: Go

on:
  push:
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Benchmark prefix preserving IP address encryption
      run: go test -bench BenchmarkPanIp* -run=^$
    
    - name: Benchmark ipcipher IP address encryption
      run: go test -bench BenchmarkEncrypt* -run=^$
